/* Оформление мини-галерей во вкладках с альбомами*/
.text-dec{
	font-size: 180%;
	color:white;
	text-align: center;
}
.galleryalb{
	background-color: black;
	text-align: center;
	width: 100%;
	height:60px;
    margin: 1px;
    color: #e2dbdb;
    border-color: black;
    border-width: 2px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.galleryalb p{
	font-size: 200%;
	text-align: center;
	padding:10px;
}
.container .grid{
	max-width: 1600px;
	padding: 0;
	margin:0;
}
.gallery-col{
	width:100%;
	text-align: left;
	position:relative;
	float:left;
}
.gallery-col-1{
	width:33.33333%;
	text-align: left;
	position:relative;
	float:left;
}
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	width: 100%;
	height:100%;
	text-align: center;
	cursor: pointer;
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 5.1em;
	padding-top: 1em;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 1%;
	width: 100%;
	height:100%;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
}
.grid figure img:hover {
	opacity: 0.5;
}
.grid figure figcaption {
	padding: 5px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
/* приближение картинки*/
.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 5;
	text-align: center;
	background: black;
	opacity: 1;
}
.lb-overlay a.lb-close{
	background: rgba(27,54,81,0.8);
	z-index: 5;
	color: #fff;
	position: absolute;
	bottom: 50px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
}
.lb-overlay img{
	height: 100%;
	width:100%;
	width:auto;
	position: relative;
	opacity: 1;
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img,
.lb-overlay:target a.lb-close{
	opacity: 1;
}

@media (max-width: 855px){
.gallery-col-1{
	width:100%;
	text-align: left;
	position:relative;
	float:left;
}
}